* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Space Grotesk", sans-serif;
  overflow-x:hidden;
}

.cards__section {
  position: relative;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 23.4375rem;
  width: 100%;
  margin-inline: auto;
  height: 15rem;
}

.card__back img {
  max-width: 17.875rem;
  width: 100%;
  height: auto;
  position: relative;
  margin-left: 4.56rem;
  padding-top: 2rem;
}

.cvc__no {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding-top: 6.6rem;
  padding-left: 18.87rem;
  text-align: right;
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08038rem;
  text-transform: uppercase;
}

.card__front .card__1 {
  max-width: 17.8125rem;
  width: 100%;
  height: auto;
  position: absolute;
  top: 7.6rem;
  left: 1.6rem;
}

.card__front .card__logo {
  max-width: 3.375rem;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 3rem;
  padding-top: 9rem;
}

.card__details p.card__no {
  position: absolute;
  top: 13rem;
  left: 2.25rem;
  max-width: 15.9375rem;
  width: 100%;
  margin-inline: auto;
  padding-left: 0.3rem;
  color: white;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1375rem;
}

.card__info .card__name {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15.25rem;
  margin-left: 1.52rem;
  padding-left: 1.19rem;
  color: white;
  padding-bottom: 1.29rem;
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08038rem;
  text-transform: uppercase;
}

.card__info .exp__details {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15.25rem;
  margin-left: 16rem;
  color: var(--White, #fff);
  text-align: right;
  font-size: 0.5625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08038rem;
  text-transform: uppercase;
}

.form__section {
  padding-top: 5.69rem;
  max-width: 20.4375rem;
  width: 100%;
  margin-inline: auto;
}

.form__section label {
  margin-bottom: 0.56rem;
  color: var(--Deep-Violet, #21092f);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Space Grotesk";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.form__section input {
  display: block;
  max-width: 20.4375rem;
  width: 100%;
  height: 2.8125rem;
  padding-left: 1rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Light-Grey, #dfdee0);
  background: var(--White, #fff);
}

.form__section input::placeholder {
  font-family: "Space Grotesk", sans-serif;
  padding-block: 0.69rem;
  color: var(--Deep-Violet, #21092f);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Space Grotesk";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  opacity: 0.25;
}

.exp__section {
  display: flex;
  gap: 0.69rem;
  align-items: center;
}

.dates {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

input.card__month,
input.card__year {
  max-width: 5rem;
  width: 100%;
  height: 2.8125rem;
}

input.cvc {
  max-width: 10.25rem;
  width: 100%;
  height: 2.8125rem;
}

.submit__btn {
  outline: none;
  border: 1px solid #21092f;
  border-radius: 0.5rem;
  background: var(--Deep-Violet, #21092f);
  display: block;
  max-width: 20.4375rem;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 2.81rem;
  height: 3.3125rem;
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Space Grotesk";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.error__msg {
  margin-top: -0.8rem;
  margin-bottom: 1.62rem;
  color: var(--Red, #ff5050);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Space Grotesk";
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: none;
}

.form__section {
  /* display: none; */
}

/* Complete State */
.success__page {
  padding-top: 5.69rem;
  display: none;
}

.success__icon {
  display: block;
  max-width: 5rem;
  width: 100%;
  margin-inline: auto;
  padding-bottom: 2.19rem;
}

.success__page p:nth-child(2) {
  max-width: 20.4375rem;
  width: 100%;
  margin-inline: auto;
  padding-bottom: 1rem;
  color: var(--Deep-Violet, #21092f);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.21388rem;
}

.success__page p:nth-child(3) {
  padding-bottom: 3rem;
  text-align: center;
  color: var(--Purplish-Grey, #8f8694);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.proceed__btn {
  outline: none;
  background: var(--Deep-Violet, #21092f);
  border: 1px solid #21092f;
  border-radius: 0.5rem;
  display: block;
  max-width: 20.4375rem;
  width: 100%;
  margin-inline: auto;
  padding-block: 0.94rem;
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5.13rem;
}
